.container {
    background-image: url('./assets/walking\ branch\ logo.jpg') !important;
}

.content {
    background-color: rgba(0,0,0,0.6);
}

* {
    background-color: #000;
    color: white;
    transition: 0.3s;
    font-family: tahoma;
}

.title {
    text-align: center;
}

.flex {
    display: flex;
}

.nav {
    background-color: #414446;
    flex: 1;
    padding: 10px 0 10px 10px;
}

.navitem {
    border-radius: 10px;
    margin-right: 10px;  
    border: solid 3px aqua;
    padding: 8px 15px;
}

.navitem:hover {
    background-color: #545454;
    cursor: pointer;
}

.loginout {
    margin-left: auto;
}
.planning {
    border: 4px groove blue;
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
    padding: 10px !important;
}

.delbutton {
    border: 2px solid rgb(101, 1, 1);
    border-radius: 10px;
    height: 38px;
    width: 60px;
}

.delbutton:hover {
    border: 2px solid red;
    color: red;
    cursor: pointer;
}

.cancelbutton {
    border: 2px solid rgb(101, 1, 1);
    border-radius: 10px;
    height: 38px;
    width: 100px;
}

.cancelbutton:hover {
    border: 2px solid red;
    color: red;
    cursor: pointer;
}

.editbutton {
    border: 2px solid #009191;
    border-radius: 10px;
    height: 38px;
    width: 60px;
}

.diseditbutton {
    border-radius: 10px;
    height: 38px;
    width: 60px;
}

.editbutton:hover {
    border: 2px solid #0ff;
    color: #0ff;
    cursor: pointer;
}

.addbutton {
    border: 2px solid rgb(11, 85, 11);
    height: 38px;
    width: 100px;
    border-radius: 10px;
}

.addbutton:hover {
    border: 2px solid #0f0;
    color: #0f0;
    cursor: pointer;
}

.savebutton {
    border: 2px solid rgb(11, 85, 11);
    height: 38px;
    width: 70px;
    border-radius: 10px;
}

.savebutton:hover {
    border: 2px solid #0f0;
    color: #0f0;
    cursor: pointer;
}

.tableitem {
    border-top: 1px solid #00f;
    border-bottom: 1px solid #00f;
    border-collapse: collapse;
    border-radius: 15px;
    height: 40px;
}

.addform {
    height: 38px;
    text-align: center !important;
    border-radius: 10px;
}

.addform:hover {
    border: 2px solid white;
}

.notes {
    width: 225px;
}


.loginform {
    margin-left: 5px;
    margin-right: 5px;
    border: #0ff 3px solid;
    padding: 10px;
}

#username, #password {
    width: 125px;
}